* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  background: url(231-2312072_white-letter-s-png.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: auto;
}
.dropdown {
  display: flex;
  padding: 0;
}
.dropbtn {
  background: url(lang.png);
  height: 2rem;
  width: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1rem;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin: 0;
  background-color: #939598;
  min-width: 5px;
  padding: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
}
.dropdown-content a {
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
}
.dropdown-content a:hover {
  background-color: #fff;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dark-mode {
  background: url(S-dark.png);
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
::-webkit-scrollbar {
  width: 10px;
  visibility: visible;
  background: #000;
}
.dark {
  border: 0;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background: #fffdfd;
  border-radius: 10px;
  visibility: visible;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  visibility: visible;
}
@media screen and (max-width: 822px) {
  ::-webkit-scrollbar {
    width: 5px;
    visibility: visible;
    background: #000;
  }
  ::-webkit-scrollbar-thumb {
    background: #fffdfd;
    border-radius: 5px;
    visibility: visible;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    visibility: visible;
  }
}
li,
button,
label,
input,
p {
  font-size: 1.6rem;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}
a:hover {
  color: #a10707;
}
nav {
  position: absolute;
  opacity: 0.95;
  padding: 0 1rem;
  display: flex;
  min-width: 100%;
  margin: 0;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  z-index: 1;
  top: 0;
}
.navar {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1rem;
}
.logo {
  height: 5rem;
  width: auto;
}
#logoa {
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-top: 0.5rem;
}
.items {
  display: flex;
  margin-right: 0;
  flex-wrap: wrap;
  color: line;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}
.lih {
  display: flex;
  text-align: center;
  color: #000;
  padding: 1rem;
}
.lih img {
  max-height: 2rem;
  max-width: 2rem;
}
.in {
  color: #fff;
}
.lih:hover {
  transition: background 0.2s;
  border-radius: 0;
}
.first {
  display: flex;
  background: linear-gradient(rgba(209, 209, 209, 0.1), transparent),
    url("titlebackground.jpg");
  color: #a10707;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  font-size: 7rem;
}
.about-product-page {
  height: 3rem;
}
.subject {
  max-width: 100%;
  background-image: linear-gradient(to right, #dd0b0b, #b6b5b5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.general-container {
  height: auto;
  min-height: 100vh;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  border-radius: 0.4rem;
  font-size: 2.1rem;
}
.box {
  padding: 2rem 3rem 2rem 4rem;
  margin-bottom: 5rem;
  border-radius: 0.4rem;
}
.box1 {
  padding: 2rem 4rem 2rem 0;
  display: flex;
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0;
}
.about {
  padding: 1rem 3rem 1rem 4rem;
  display: flex;
  font-size: 2rem;
  margin: 3rem 0 4rem;
}
.products {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.first-two {
  display: flex;
  position: relative;
  height: 50rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.box2 {
  position: relative;
  margin-bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 49%;
  min-width: 49%;
}
.des2 {
  display: flex;
  border-bottom: none;
  max-height: 30%;
  max-width: 70%;
  margin: 0;
  min-width: 50%;
  min-height: 30%;
  position: relative;
  margin-left: 20%;
  padding: 2rem;
}
.img2 {
  display: flex;
  background: url("rebaro.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-width: 50%;
  min-height: 70%;
  max-width: 100%;
  max-height: 100%;
}
.box3 {
  position: relative;
  margin-bottom: 0;
  max-width: 49%;
  min-width: 49%;
  border-radius: 0.4rem;
  height: 100%;
  top: 10%;
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
}
.des3 {
  display: flex;
  background: #939598;
  max-height: 30%;
  max-width: 70%;
  margin: 0;
  min-width: 70%;
  min-height: 30%;
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-left: 20%;
  padding: 2rem;
}
.img3 {
  display: flex;
  background: url("fence.jpg");
  position: relative;
  border-radius: 0.4rem;
  margin: 0;
  padding: 0;
  min-width: 50%;
  min-height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}
.box4 {
  height: 40rem;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: 0;
  margin-bottom: 1rem;
  position: relative;
  margin-top: 15rem;
}
.des4 {
  position: absolute;
  background: #939598;
  max-height: 100%;
  min-height: 60%;
  max-width: 55%;
  min-width: 45%;
  border-radius: 0.4rem;
  margin-left: 55%;
  padding: 2rem;
  font-size: 59%;
}
.img4 {
  width: 29rem;
  border-radius: 0.4rem;
  background: url("wire\ mesh.jpg");
  flex-grow: 1;
  background-size: cover;
  min-width: 60%;
  min-height: 85%;
  max-height: 70%;
  max-width: 51%;
  align-self: flex-end;
  z-index: 1;
}
.box5 {
  height: 40rem;
  margin-top: 3rem;
  width: 100%;
  padding: 0;
  position: relative;
  flex-direction: row-reverse;
  display: flex;
  margin-bottom: 15rem;
}
.des5 {
  align-self: flex-end;
  position: absolute;
  background: #939598;
  max-height: 100%;
  min-height: 60%;
  max-width: 55%;
  border-radius: 0.4rem;
  margin-right: 55%;
  padding: 2rem;
  min-width: 45%;
}
.img5 {
  width: 29rem;
  border-radius: 0.4rem;
  background: url("barbed.jpeg");
  flex-grow: 1;
  min-width: 60%;
  min-height: 85%;
  max-height: 70%;
  max-width: 51%;
  align-self: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.des {
  display: flex;
  border: 0.4rem solid;
  border-image: linear-gradient(to right, #dd0b0b, #b6b5b5);
  border-image-slice: 1;
  background: none;
  font-size: 2.6rem;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.des3 {
  border-top: none;
}
.des2 {
  border-bottom: none;
}
.des:hover {
  overflow: visible;
}
.learnMoreButton {
  padding: 0.5rem;
  border-style: none;
  width: auto;
  border-radius: 0.3rem;
  font-weight: lighter;
  color: inherit;
  background: inherit;
  border: 0.3rem solid rgba(128, 128, 128, 0.418);
  border-radius: 3rem;
  transition: all 0.7s ease;
}
.learnMoreButton:hover {
  box-shadow: inset 150px 0 0 0 rgba(128, 128, 128, 0.418);
}
.des6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50rem;
  align-items: center;
  border: none;
  justify-content: space-around;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.descriptionL {
  text-align: center;
  align-items: center;
}
.descriptionL p {
  font-size: 2rem;
  max-height: inherit;
}

.loch {
  justify-content: center;
  align-items: center;
  min-width: 3rem;
}
.loch iframe {
  min-height: 30rem;
  min-width: 30rem;
}

footer {
  background: #000;
  position: static;
  height: 5rem;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 822px) {
  .des6 {
    flex-wrap: wrap;
  }
  .loch {
    width: 30rem;
  }
  .loch iframe {
    min-height: 20rem;
    min-width: 30rem;
  }
  nav {
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0;
  }
  .first {
    margin-top: 0;
  }
  .navar {
    display: flex;
    flex-direction: column;
  }
  .navwr {
    min-height: 0;
  }
  #logoa {
    margin-left: 0;
    margin-right: 0;
    padding: 0.3rem 0 0;
  }
  .items {
    max-height: 15rem;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 0.3rem 0.5rem 0;
  }
  .general-container {
    padding-left: 0;
    padding-right: 0;
  }
  .box1 {
    padding: 1rem;
  }
  .about {
    font-size: 1.6rem;
    padding: 0 1rem;
    overflow: hidden;
  }
  .lih {
    font-size: 1rem;
    max-height: 5rem;
    margin-right: 0;
    padding: 1rem;
  }
  .subject {
    max-width: 100%;
    font-size: 4rem;
  }
  .box1 {
    font-size: 1.6rem;
  }
  .products {
    font-size: 1.6rem;
  }
  .des {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .box6 {
    margin-bottom: 5rem;
  }
  .box7 {
    flex-wrap: wrap;
  }
  .learnMoreButton p {
    margin: 0.3rem;
    font-size: 1rem;
  }
  .learnMoreButton {
    height: 3rem;
    width: auto;
    padding: 0.3rem;
  }
  .contact {
    padding: 0.5rem;
    text-align: center;
    font-size: 50%;
  }
  .ima img {
    display: none;
  }
}
@media screen and (max-width: 483px) {
  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .items {
    flex-wrap: wrap;
    overflow: auto;
  }
}
.generalP {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 1rem;
  margin-bottom: 5rem;
  margin-left: 15%;
  margin-right: 15%;
}
.productPage {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.maintxt {
  margin-top: 10rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.product {
  margin: 0;
  height: 40rem;
  width: 30rem;
  margin: 5rem 1rem 0 1rem;
  background: none;
  border: 0.2rem solid;
  border-image: linear-gradient(to right, #dd0b0b, #b6b5b5);
  border-image-slice: 1;
  transition: all 0.5s ease;
}
.product:hover {
  box-shadow: inset 0 0 269px 0 #b6b5b5;
}
.product img {
  height: 60%;
  width: 100%;
}
.productN {
  height: 35%;
  color: inherit;
  width: 100%;
  display: grid;
  place-content: center;
  font-size: 2.6rem;
}
@media screen and (max-width: 822px) {
  .generalP {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 3rem;
  }
  .product {
    margin: 5rem 1rem 0;
    height: 20rem;
    width: 15rem;
  }
  .maintxt {
    padding: 0;
    margin-top: 3rem;
    font-size: 1.6rem;
  }
  .productN {
    width: auto;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 869px) {
  .productPage {
    padding: 0;
    margin: 0;
  }
  .generalP {
    padding: 0;
  }
}
.rawM {
  min-height: 100vh;
  margin-top: 6rem;
  padding-top: 10rem;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 2rem;
}
.di {
  height: 0rem;
}
.sabic {
  position: absolute;
  top: 50rem;
  z-index: -1;
  left: 50%;
  height: 20rem;
  width: 30rem;
}
.sabicar {
  left: 10%;
  left: 20%;
  top: 45rem;
}
@media screen and (max-width: 822px) {
  .sabic {
    height: 10rem;
    top: 38rem;
    width: 15rem;
  }
}

@media screen and (max-width: 322px) {
  .sabic {
    display: none;
  }
}
@media screen and (max-width: 822px) {
  .rawM {
    padding: 2rem;
  }
  .rawM h1 {
    font-size: 1.3rem;
  }
  .rawM p {
    font-size: 1rem;
    word-wrap: break-word;
  }
}
.orderContainer {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100vh;
  margin-top: 6rem;
  padding-top: 10rem;
  padding-bottom: 4rem;
}
.icons {
  min-width: 100%;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.icons img {
  height: 7rem;
  width: 7rem;
}
.iconO {
  min-width: 20rem;
  min-height: 10rem;
}
.bx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
  width: 70%;
  border: 0.4rem solid;
  border-image: linear-gradient(to left, #8b0000, #b6b5b5);
  border-image-slice: 1;
  background: none;

  margin-bottom: 30%;
}
.bxa {
  border: 0.4rem solid;
  border-image: linear-gradient(to right, #8b0000, #b6b5b5);
  border-image-slice: 1;
  background: none;
}
.divform {
  width: 60%;
}
iframe {
  height: 70%;
  width: 70%;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 40%;
  /* background for location in order  page (red)*/
  background-color: #8b0000;
}
@media screen and (max-width: 822px) {
  .orderContainer {
    height: auto;
    min-height: 100vh;
    padding-top: 0;
  }
  .bx {
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    overflow: auto;
  }
  .divform {
    width: 100%;
    height: 50%;
  }
  .location {
    min-height: 100%;
    width: 100%;
    min-width: 16rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  iframe {
    width: 80%;
    height: 70%;
  }
}
.form {
  color: #fff;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.fcolumn {
  display: flex;
  max-width: 95%;
  flex-direction: row;
  justify-content: flex-end;
}
.bx label {
  width: auto;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  height: auto;
}
.order {
  width: 100%;
  text-align: left;
}
.input input {
  max-width: 90%;
  width: 100%;
  height: 2.5rem;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-style: groove;
  border-width: 0.2rem;
  background: #b6b5b5;
  font-size: 1rem;
  border-radius: 0.3rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.3rem;
}
.placeholder::placeholder {
  color: rgba(0, 0, 0, 0.63);
  font-size: 0.9rem;
  opacity: 1;
  text-align: center;
  justify-content: center;
  text-align: left;
}
.placeholderar::placeholder {
  color: rgba(0, 0, 0, 0.63);
  font-size: 0.9rem;
  opacity: 1;
  text-align: center;
  justify-content: center;
  text-align: right;
}
.bx button {
  border-style: none;
  align-self: center;
  color: #fff;
  background-color: #a10707;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 1rem;
  height: 3rem;
  width: 10rem;
  margin-top: 3rem;
}
.bx button:hover {
  transition: background-color linear 0.3s;
  background-color: #0024ff;
}
.bx textarea {
  width: 95%;
  max-width: 95%;
  max-height: 20rem;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-style: groove;
  border-width: 0.2rem;
  min-height: 10rem;
  background: #b6b5b5;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
@media screen and (max-width: 822px) {
  .icons {
    max-width: 5rem;
    height: auto;
    flex-wrap: wrap;
  }
  .orderContainer {
    min-width: 100%;
  }
  .icons img {
    height: 4rem;
    width: 4rem;
  }
  .icons p {
    word-break: break-all;
    font-size: 1rem;
  }
  .bx {
    margin: 0;
    padding: 0;
  }
  .form * {
    margin: 0;
    padding: 0;
  }
  .iconO {
    max-height: 0.1rem;
    min-height: 14rem;
    max-width: 1rem;
    min-width: 10rem;
  }
  .form label {
    font-size: 1rem;
  }
  .form button {
    height: 3rem;
    width: 7rem;
    font-size: 1rem;
  }
}
.PSection {
  height: auto;
  display: flex;
  min-height: 100vh;
  word-wrap: break-word;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5.9rem;
}
.HeaderProduct {
  width: 100%;
  height: auto;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.HeaderProduct h1 {
  font-size: 3rem;
  color: #fff;
}
.HeaderProduct a {
  font-size: 1.5rem;
  color: #fff;
}
.productContainer {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
  padding-top: 0;
}
.MainProduct {
  flex-grow: 2;
  height: auto;
  width: 5rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.M-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 1rem 0;
  height: auto;
  word-break: keep-all;
  width: fit-content;
  max-width: 750px;
}
.span a {
  color: #2e66ff;
}
.H-cont {
  font-size: 1vw;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.span {
  max-width: 750px;
}
.H-cont h1 {
  font-size: 2rem;
}
.H-cont span {
  font-size: 1vw;
}
.MainProduct span {
  font-size: 2rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
}
.MainProduct span h4 {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.6rem;
}
.img {
  width: 10%;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0;
  height: 20rem;
  min-width: 20rem;
}
.M-cont span {
  margin-left: 2rem;
  margin-right: 2rem;
}
.img img {
  height: 100%;
  width: 100%;
}
.table {
  padding: 0;
  max-width: 95%;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
#simple_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #fffbfb;
  color: #000;
  margin-bottom: 5rem;
}
.table {
  border-radius: 1rem;
}
#simple_table td,
#simple_table th {
  text-align: center;
  padding: 8px;
  border: 1px solid gray;
}
#simple_table tr:nth-child(even) {
  background-color: #ddd;
}
#simple_table tr:hover {
  background-color: #7e7e7e;
}
#simple_table tr > th {
  background: #a10707;
  color: #fff;
}
@media screen and (max-width: 822px) {
  .HeaderProduct h1 {
    font-size: 1.6rem;
  }
  .HeaderProduct a {
    font-size: 1.6rem;
  }
  .MainProduct span {
    font-size: 1.6rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30%;
  }
  .MainProduct span h4 {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 1rem;
  }
  .M-cont {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    max-width: 90%;
  }
  .PSection {
    max-width: 100%;
    margin-top: 0;
  }
  .table {
    width: 100%;
  }
  .MainProduct span {
    min-width: 100%;
  }
  .img {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  }
  .table {
    max-width: 100%;
    font-size: 1rem;
  }
  .table p {
    font-size: 1rem;
    word-break: break-all;
  }
  #simple_table {
    width: auto;
    overflow-x: scroll;
  }
  #simple_table td {
    width: auto;
  }
}
.ar * {
  font-family: "Tajawal", sans-serif;
}
